nav {
    /* max-width: 1140px; */
    /* margin: 0 auto; */
    background-color: #144891;
    padding: 12px 0;
    color: #fff;
    
}
.top-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
button {
    background-color: aliceblue;
    padding: 2px 8px;
    border: none;
}
button:first-child {
    margin-right: 8px;
}
/* =======> navigation links */
.nav-links {
    gap: 32px;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
}
.nav-links a:hover {
    border-radius: 24px;
    background-color: #a7aeb139;
}
.active-link {
    border-radius: 24px;
    /* background-color: #a7aeb139; */
    border: 1px solid #fff;
}
.nav-links i {
    margin-right: 6px;
}